.background_movie {
  background-image: url("/Users/trankhaiphong1728/Desktop/BC52_REACT_EX/bc52_react_ex/public/d5e154c2fd72fc5dab6ab4440fab755f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
